.fakeInputAutocomplete {
  display: flex;
  flex: 1;
  position: relative;
}

.input {
  border: none;
  display: flex;
  flex: 1;
  font-size: 16px;
}

.input::placeholder {
  color: #333;
  opacity: 0.6;
}

.input:focus {
  outline: none;
}

.suggessionsContainer {
  background-color: #fff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 999;
}

.suggessionsContainerTop {
  top: auto;
  bottom: 100%;
}

.suggessionsContainer:focus {
  outline: none;
}

.suggessions {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  max-height: inherit;
  overflow: auto;
  position: relative;
}
