.fakeInputAutocomplete {
  display: flex;
  flex: 1;
}

.input {
  border: none;
  display: flex;
  flex: 1;
  font-size: 16px;
}

.input::placeholder {
  color: #333;
  opacity: 0.6;
}

.input:focus {
  outline: none;
}
